<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DirectInput" culture="neutral" />
        <codeBase version="2.6.0.0" href="SharpDX.DirectInput-proxy.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Executable" value="BepInEx.NetLauncher.exe" />
  </appSettings>
</configuration>